# Copyright (c) 2025 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config GPIO_M5_EXPANSION
	bool "M5Stack expansion GPIO driver"
	default y
	depends on DT_HAS_M5STACK_EXPANSION_GPIO_ENABLED
	depends on DT_HAS_M5STACK_GROVE_PORTA_ENABLED || DT_HAS_M5STACK_MBUS_ENABLED
	select I2C
	help
	  Enable the M5Stack expansion GPIO driver

config GPIO_M5_EXPANSION_INIT_PRIORITY
	int "Initialization priority for M5Stack expansion GPIO drivers"
	default 92
	help
	  Initialization priority for M5Stack expansion GPIO device drivers.

	  This priority must be greater than that of the M5Stack expansion MFDs
	  to ensure proper initialization ordering.
