# Copyright (c) 2025 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config GPIO_UART_LINE_CONTROL
	bool "USB UART control lines as GPIOs"
	default y
	depends on DT_HAS_ZEPHYR_GPIO_UART_LINE_CONTROL_ENABLED
	depends on SERIAL
	select UART_LINE_CTRL
	help
	  Enable the GPIO driver which exposes the control lines of a UART device
