/*
 * Copyright (c) 2025 Chen Xingyu <hi@xingrz.me>
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	aliases {
		led-strip = &byteswitch_led_strip;
	};
};

&zephyr_i2c {
	unit-byteswitch@46 {
		compatible = "m5stack,unit-byteswitch";
		reg = <0x46>;
		status = "okay";

		byteswitch_input: unit-byteswitch-input {
			compatible = "m5stack,unit-byteswitch-input";
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			switch_0@0 {
				reg = <0>;
				label = "BYTESWITCH_0";
				zephyr,code = <INPUT_KEY_0>;
			};

			switch_1@1 {
				reg = <1>;
				label = "BYTESWITCH_1";
				zephyr,code = <INPUT_KEY_1>;
			};

			switch_2@2 {
				reg = <2>;
				label = "BYTESWITCH_2";
				zephyr,code = <INPUT_KEY_2>;
			};

			switch_3@3 {
				reg = <3>;
				label = "BYTESWITCH_3";
				zephyr,code = <INPUT_KEY_3>;
			};

			switch_4@4 {
				reg = <4>;
				label = "BYTESWITCH_4";
				zephyr,code = <INPUT_KEY_4>;
			};

			switch_5@5 {
				reg = <5>;
				label = "BYTESWITCH_5";
				zephyr,code = <INPUT_KEY_5>;
			};

			switch_6@6 {
				reg = <6>;
				label = "BYTESWITCH_6";
				zephyr,code = <INPUT_KEY_6>;
			};

			switch_7@7 {
				reg = <7>;
				label = "BYTESWITCH_7";
				zephyr,code = <INPUT_KEY_7>;
			};
		};

		byteswitch_led_strip: unit-byteswitch-led-strip {
			compatible = "m5stack,unit-byteswitch-led-strip";
			status = "okay";
			chain-length = <9>;
			color-mapping = <LED_COLOR_ID_BLUE
					 LED_COLOR_ID_GREEN
					 LED_COLOR_ID_RED>;
		};
	};
};
