/*
 * Copyright (c) 2023 Chen Xingyu <hi@xingrz.me>
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <freq.h>

#include <arm/armv7-m.dtsi>
#include <arm/luat/air105-irq.h>

#include <zephyr/dt-bindings/clock/air105-clocks.h>

/ {
	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	soc {
		flash0: flash@1000000 {
			compatible = "soc-nv-flash";
			reg = <0x1000000 0x200000>;
		};

		sram0: memory@20000000 {
			compatible = "mmio-sram";
			reg = <0x20000000 0xa0000>;
		};

		pinctrl: pin-controller@4001d000 {
			compatible = "luat,air105-pinctrl";
			reg = <0x4001d000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
		};

		sysctrl: clock-controller@4001f000 {
			compatible = "luat,air105-sysctrl";
			reg = <0x4001f000 0x1000>;
			clock-source = "osc12m";
			clock-frequency = <DT_FREQ_M(168)>;
			pll-divider = <2>;
			hclk-divider = <2>;
			pclk-divider = <2>;
			#clock-cells = <2>;
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <6>;
};
