# Copyright (c) 2023-2024 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config PWM_SOPHGO_CV180X
	bool "SOPHGO CV180x PWM driver"
	default y
	depends on DT_HAS_SOPHGO_CV180X_PWM_ENABLED
	help
	  Enables support for the SOPHGO CV180x PWM.
