# Copyright (c) 2023 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config PWM_HI3861
	bool "Hi3861 PWM"
	default y
	depends on DT_HAS_HISILICON_HI3861_PWM_ENABLED
	help
	  Enable support for Hi3861 PWM.
