# Copyright (c) 2025 Chen Xingyu <hi@xingrz.me>
# SPDX-License-Identifier: Apache-2.0

config LED_STRIP_M5STACK_UNIT_BYTEBUTTON
	bool "M5Stack Unit ByteButton/Switch LED strip driver"
	default y
	depends on (DT_HAS_M5STACK_UNIT_BYTEBUTTON_ENABLED && DT_HAS_M5STACK_UNIT_BYTEBUTTON_LED_STRIP_ENABLED) || \
		   (DT_HAS_M5STACK_UNIT_BYTESWITCH_ENABLED && DT_HAS_M5STACK_UNIT_BYTESWITCH_LED_STRIP_ENABLED)
	select I2C
	help
	  Enable the M5Stack Unit ByteButton/Switch LED strip driver

config LED_STRIP_M5STACK_INIT_PRIORITY
	int "Initialization priority for M5Stack LED strip drivers"
	default 92
	help
	  Initialization priority for M5Stack LED strip device drivers.

	  This priority must be higher than that of the M5Stack extension MFDs
	  to ensure proper initialization ordering.
